/* Reset Page */

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--font-family-primary);
}

/* Variables */

:root {
    --primary-color: #1aa9bc;
    --secondary-color: #3e5dc0;
    --light-color: #ecf0f1;
    --dark-color: #3acac3a2;
    --text-color: #34495e;
    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
}

/* Global Styles */
body {

    background-image: linear-gradient(35deg, rgb(0, 0, 0),rgba(192, 84, 84, 0.637), rgba(61, 92, 231, 0.842), rgb(10, 10, 10));
    background-color: rgb(0, 0, 253);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
} 

.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;
}

i {
    color: rgb(184, 97, 97);
    margin-right: 0.5rem;
}



/* Media Queries - Global */

@media only screen and (min-width: 768px) {
    .main {
        max-width: 64rem;
        margin: 1rem auto;
    }
}