/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('global.css');

/* Header Styles */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/elipses.svg');
    
}

.header .photo {
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
}

.header .title {
    font-family: var(--font-family-primary);
    text-align: center;
    color: #ebebebcc;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information p {
    font-family: var(--font-family-secondary);
    margin: 0.5rem 0;
}

.information a {
    color: #fff;
}

.information a:hover {
    text-decoration: underline;
    color: rgba(139, 138, 138, 0.438);
}

/* Accordion Styles */

.acordeon .content {
    display: none;
}

.trigger {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-family-secondary);
    background-image: linear-gradient(35deg, rgba(141, 23, 29, 0.808), rgb(4, 30, 143));
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-image 0.5s ease-in-out;
}

.trigger:hover {
    background-image: linear-gradient(35deg, rgb(8, 8, 8), rgb(61, 92, 231));
}

.arrow {
    margin-left: auto;
}

.arrow i{
    font-size: 1.5rem;
    color: #fff;
}

.arrow.rotate {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
}

.acordeon .content.active {
    display: block;
    margin-top: 1rem;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: "photo title"
                             "photo information";
    }

    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        max-width: 15.625rem;
        grid-area: title;
        text-align: start;
    }

    .information {
        grid-area: information;
    }
}